@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: #27214d;
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
form{
    width: 450px;
    padding: 20px 30px 20px 40px;
    background-color: #27214d;
    border: none;
    border-radius: 12px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form h1{
    text-align: center;
}
.form_container div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form_container input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.form_container label{
    font-size: 20px;
    display: flex;
    justify-content: start;
}
.btn{
    cursor: pointer;
    border: none !important;
    outline: none;
    background-color: #4071f4;
    color: white;
}
.login_page_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row !important;
}
.login_page_link p{
    font-size: 16px;
}
.login_page_link a{
    font-size: 16px;
    text-decoration: none;
    color: #00f2ff;
}

/* error */

span{
    color: red;
    font-size: 10px;
}


/* modal part start from hre. */

.modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity, 1s;
}
.show_modal{
    opacity: 1;
    z-index: 9999;
    left: 50%;
}
.img_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #8bc348;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img_p>img{
    height: 80px;
    border-radius: 50%;
}
.img_p>p{
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.btn_p{
    background-color: white;
    height: 50%;
    padding: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn_p>p{
    color: rgba(36, 39, 41,0.7);
    font-weight: 400;
    text-align: center;
}
.btn_p>button{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #8bc348;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* modal part end here. */


/* media query */
@media (min-width: 0) and (max-width: 480px){
    form{
        padding: 20px 30px 20px 30px;
        width: fit-content;
    }
    .login_page_link p{
        font-size: 13px;
    }
    .login_page_link a{
        font-size: 13px;
    }
}