/* skew() is a CSS transform function.
It tilts (distorts) an element along the X-axis, Y-axis, or both.
It makes the element look like it’s being “pushed” sideways.
x-angle → tilt horizontally (X-axis).
y-angle → tilt vertically (Y-axis).
Angles are written in deg (degrees). */


.container {
      border: 1px solid rgb(214, 28, 28);
      height: 97vh;
      display: flex;
      gap: 100px;
      justify-content: center;
      align-items: center;
    }

    .box {
      width: 150px;
      height: 150px;
      background: blue;
    }

    .child-1 {
      transform: skewX(20deg);
    }

    .child-2 {
      transform: skewY(20deg);
    }

    .child-3 {
      transform: skew(20deg, 20deg);
    }

    .child-4 {
      transform: skew(20deg, 60deg);
    }

    .child-5 {
      transform: skew(20deg, -20deg);
    }