/* Animations in CSS let elements move, change color, size, opacity, etc. smoothly.
@keyframes defines how an element should change style step by step.
Then you apply it using the animation property */
/* animation-name → keyframe name.
animation-duration → how long it runs (2s, 5s).
animation-iteration-count → 1, 3, infinite.
animation-timing-function → speed curve (linear, ease, ease-in, ease-out).
animation-delay → wait before starting.
animation-direction → normal, reverse, alternate. */


@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .hello {
    text-transform: capitalize;
    font-size: 60px;
    font-family: Bitcount Grid Double Ink;
    font-weight: 700;
    text-align: center;
 }

 .something {
    text-transform: capitalize;
    font-size: 85px;
    font-family: Bitcount Bitcount Grid Double Ink;
    text-align: center;
    font-weight: 300;
 }

 .hello {
    transition: transform 0.5s ease-out 0.7s;
    cursor: pointer;
 }

 .hello:hover {
    transform: scale(1.5);


 }

 .Animation1 {
    animation-name: code;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Bitcount Grid Double Ink;
    background: tomato;
 }
 
 @keyframes code {
    from {
        translate: 200vw 0;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
 }

 .Animation2 {
    animation-name: Hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Bitcount Grid Double Ink;
    background: rgb(71, 255, 172);
 }
 
 @keyframes Hello {
    from {
        translate: -200vw 0;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
 }
 