  /* counter-reset - Creates or resets a counter
        counter-increment - Increments a counter value
        content - Inserts generated content
        counter() or counters() function - Adds the value of a counter to an element */
        body{
            counter-reset: value;
        }
        .text:hover{
            font-size: 4rem !important;
        }
        h2::before {
            counter-increment: value;
            content: "DATA" counter(value)" -->";
        }