
        .child-1 {
            display: inline;
            background: teal;
        }

        .child-2 {
            display: block;
            background: plum;
        }

        .child-3 {
            display: inline-block;
            background: red;
        }

        .child-1 {
            display:inline;
        }
 