* {
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
}

.parent {
height: 100px;
background: wheat;
border: 3px solid red;
}

.child {
    position: sticky;
    top: 100px;
    background: yellow;
    border: 3px solid black;
}

.long-contant {
    border: 3px solid purple;
    position: relative;
}