*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#todoInput{
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    font-size: 18px;
}
.btn{
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
}

/* Js */
.inputData_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px;
}
.edit_btn,.delete_btn{
    padding: 8px;
    border-radius: 10px;
}
.infoTodo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
