/* The :hover pseudo-class is used to apply styles when a user moves the mouse over an element.
Commonly used for links, buttons, images, menus, and interactive effects. */

.btn{
    width: 250px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    border: none;
    outline: none;
    text-transform: capitalize;
}
/* 
: this is psudo-class
:: this is psido-elements 
*/

.btn:hover{
   cursor: pointer;
   background-color: black;
   color: red;
   text-transform: uppercase;
   border-radius: 10px;
   transition: all 0.3sec ease-in-out;

}
.btn::before{
    content: 'hello ' ;
}

.btn::after{
    content: '  button ' ;
    border: 2px solid greenyellow;
}

